name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - master
    paths-ignore:
      - README.md
      - LICENSE
jobs:
  test-default:
    name: Test default
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
      - name: Setup Velociraptor
        uses: jurassiscripts/setup-velociraptor@main
      - name: Check Velociraptor version
        run: vr --version

  test-version:
    name: Test velociraptor-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
      - name: Setup Velociraptor
        uses: jurassiscripts/setup-velociraptor@main
        with:
          velociraptor-version: 1.3.0
      - name: Check Velociraptor version
        run: test "$(vr --version)" = "1.3.0"

  test-alias:
    name: Test velociraptor-alias
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
      - name: Setup Velociraptor
        uses: jurassiscripts/setup-velociraptor@main
        with:
          velociraptor-alias: velociraptor
      - name: Check Velociraptor version
        run: velociraptor --version

  test-v1:
    name: Test velociraptor@v1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
      - name: Setup Velociraptor
        uses: jurassiscripts/setup-velociraptor@v1
      - name: Check Velociraptor version
        run: vr --version
